.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    position: absolute;
	text-align:center;
	line-height:120px;
	font-family:Verdana;
	font-size:20px;
	color:black;
}

.circle.main {
    width: 250px;
    height: 250px;
    margin: 100px;
	font-size:25px;
	text-align:center;
	line-height:220px;
	font-family:sans serif;
	margin-top:200px;
	margin-left:500px;
	margin-right:100px;
	background-color: #c8fe2e;
	-webkit-animation: e1 5s;
    animation: e1 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}
@keyframes e1 {
    0%   {background:#c8fe2e;}
    25%  {background:#fe2e64;}
    40% {background:#cc2efa;}
	50% {background:#ff8000;}
	65% {background:#81f7d8;}
	80% {background:#fa5858;}
	100% {background:#d8d8d8;}
}

@-webkit-keyframes e1 {
    0%   {background:#c8fe2e;}
    25%  {background:#fe2e64;}
    40% {background:#cc2efa;}
	50% {background:#ff8000;}
	65% {background:#81f7d8;}
	80% {background:#fa5858;}
	100% {background:#d8d8d8;}
}

.work {
    left: -155px;
    top: -65px;
	background-color: #fe2e64;
	-webkit-animation: e2 5s;
    animation: e2 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes e2 {
    0% {background:#fe2e64;}
    25% {background:#cc2efa;}
	40% {background:#ff8000;}
	50% {background:#81f7d8;}
	65% {background:#fa5858;}
	80% {background:#d8d8d8;}
	100%   {background:#c8fe2e;}
}

@-webkit-keyframes e2 {
    0%  {background:#fe2e64;}
    25% {background:#cc2efa;}
	40% {background:#ff8000;}
	50% {background:#81f7d8;}
	65% {background:#fa5858;}
	80% {background:#d8d8d8;}
	100%   {background:#c8fe2e;}
}

.tech {
    top: -180px;
    left: 60px;
	background-color: #cc2efa;
	-webkit-animation: e3 5s;
    animation: e3 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes e3 {
    0% {background:#cc2efa;}
	25% {background:#ff8000;}
	40% {background:#81f7d8;}
	50% {background:#fa5858;}
	65% {background:#d8d8d8;}
	80%   {background:#c8fe2e;}
	100%  {background:#fe2e64;}
}

@-webkit-keyframes e3 {
    0% {background:#cc2efa;}
	25% {background:#ff8000;}
	40% {background:#81f7d8;}
	50% {background:#fa5858;}
	65% {background:#d8d8d8;}
	80%   {background:#c8fe2e;}
	100%  {background:#fe2e64;}
}

.cul {
    right: -170px;
    top: -50px;
	background-color: #ff8000;
	-webkit-animation: e4 5s;
    animation: e4 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes e4 {
	0% {background:#ff8000;}
	25% {background:#81f7d8;}
	40% {background:#fa5858;}
	50% {background:#d8d8d8;}
	65%   {background:#c8fe2e;}
	80%  {background:#fe2e64;}
	100% {background:#cc2efa;}
}

@-webkit-keyframes e4 {
	0% {background:#ff8000;}
	25% {background:#81f7d8;}
	40% {background:#fa5858;}
	50% {background:#d8d8d8;}
	65%   {background:#c8fe2e;}
	80%  {background:#fe2e64;}
	100% {background:#cc2efa;}
}

.spon {
    right: 255px;
    top: 155px;
	background-color: #81f7d8;
	-webkit-animation: e5 5s;
    animation: e5 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes e5 {
	0% {background:#81f7d8;}
	25% {background:#fa5858;}
	40% {background:#d8d8d8;}
	50%   {background:#c8fe2e;}
	65%  {background:#fe2e64;}
	80% {background:#cc2efa;}
	100% {background:#ff8000;}
}

@-webkit-keyframes e5 {
	0% {background:#81f7d8;}
	25% {background:#fa5858;}
	40% {background:#d8d8d8;}
	50%   {background:#c8fe2e;}
	65%  {background:#fe2e64;}
	80% {background:#cc2efa;}
	100% {background:#ff8000;}
}

.abt {
    bottom: -170px;
    left: 50px;
	background-color: #fa5858;
	-webkit-animation: e6 5s;
    animation: e6 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes e6 {
	0% {background:#fa5858;}
	25% {background:#d8d8d8;}
	40%   {background:#c8fe2e;}
	50%  {background:#fe2e64;}
	65% {background:#cc2efa;}
	80% {background:#ff8000;}
	100% {background:#81f7d8;}
}

@-webkit-keyframes e6 {
	0% {background:#fa5858;}
	25% {background:#d8d8d8;}
	40%   {background:#c8fe2e;}
	50%  {background:#fe2e64;}
	65% {background:#cc2efa;}
	80% {background:#ff8000;}
	100% {background:#81f7d8;}
}

.con {
    right: -150px;
    bottom: -60px;
	background-color: #d8d8d8;
	-webkit-animation: e7 5s;
    animation: e7 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes e7 {
	0% {background:#d8d8d8;}
	25%   {background:#c8fe2e;}
	40%  {background:#fe2e64;}
	50% {background:#cc2efa;}
	65% {background:#ff8000;}
	80% {background:#81f7d8;}
	100% {background:#fa5858;}
}

@-webkit-keyframes e7 {
	0% {background:#d8d8d8;}
	25%   {background:#c8fe2e;}
	40%  {background:#fe2e64;}
	50% {background:#cc2efa;}
	65% {background:#ff8000;}
	80% {background:#81f7d8;}
	100% {background:#fa5858;}
}

